.wave-header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
  }
  
  .wave-header .logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .wave-header .inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .wave-header .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .wave-header .waves {
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /* Fix for safari gap */
    min-height: 100px;
    max-height: 150px;
    z-index: 10;
  }
  
  .wave-header .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }
  
  /* Animation */
  
  .wave-header .parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  }
  
  .wave-header .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .wave-header .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .wave-header .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .wave-header .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  /* Shrinking for mobile */
  @media (max-width: 768px) {
    .wave-header .waves {
      height: 40px;
      min-height: 40px;
    }
    .wave-header .content {
      height: 30vh;
    }
    .wave-header h1 {
      font-size: 24px;
    }
  }
  

  /* Contact */


.wave-contact{
  transform: rotateX(180deg); 
  z-index: 10; /* Added this line to flip it */
}

.wave-header-contact {
  transform: rotateX(180deg);
  background: linear-gradient(90deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  z-index: 1;
  margin-bottom: -10vh;
}
.wave-header-contact .inner-header-contact {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.svg-footer-home{
  margin-bottom: -5px;
  z-index: 2;
  display: block;
}

@media (max-width: 760px) {
  .svg-footer-home {
    display: none;
  }
}

@media (min-width: 800px) {
  .wave-header-contact {
    margin-bottom: -15vh;
  }
}

@media (max-width: 600px) {
  .wave-coving {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }
}

.inner-header-contact{
  height: 100vh;
}